.admin {
    min-height: 100vh;
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.admin-container {
    width: 100%;
    max-width: 600px;
    padding: 40px;
}

.admin-form {
    display: flex;
    flex-direction: column;
}

.admin-form input,
.admin-form textarea {
    margin-bottom: 20px;
}